@font-face {
    font-family: 'Hiragino Mincho Pro';
    src: url('/fonts/HiraginoMin.woff') format('woff');
  }
  

  .font-hiragino-mincho-pro {
    font-family: 'Hiragino Mincho Pro', serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
}
.text-sm {
  font-size: 14px; /* Adjust the font size as needed */
}
.font-hiragino-mincho-pro-center {
  font-family: 'Hiragino Mincho Pro', serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}
.font-hiragino-mincho-pro-center-small {
  font-family: 'Hiragino Mincho Pro', serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
.font-hiragino-mincho-pro-center-left {
  font-family: 'Hiragino Mincho Pro', serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}
.font-hiragino-mincho-xs {
  font-family: 'Hiragino Mincho Pro', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.font-hiragino-mincho-pro-center-small-left {
  font-family: 'Hiragino Mincho Pro', serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;

}
.font-hiragino-mincho-s {
  font-family: 'Hiragino Mincho Pro', serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.font-hiragino-mincho-heading {
  font-family: 'Hiragino Mincho Pro', serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}
.font-hiragino-mincho-pro-center-left-heading {
  font-family: 'Hiragino Mincho Pro', serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}
@font-face {
  font-family: 'Gotham-Black';
  src: url('/fonts/Gotham-Black.woff') format('woff');
}

.font-gotham-book {
  font-family: 'Gotham-Black', sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 44px;
  
}
.font-gotham-book-xs {
  font-family: 'Gotham-Black', sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 25px;
  
}
.font-gotham-book-ok {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  
}
.font-gotham-book-sm {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('/fonts/Gotham-Light.woff') format('woff');
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('/fonts/Gotham-Bold.woff') format('woff');
}