
  
  /* Define animation */
  @keyframes scrollLeftToLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Apply animation to the cards */
  .animate-scrollLeftToLeft {
    animation: scrollLeftToLeft 10s linear infinite;
  }